<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Products</title>
  </head>
  <body>
    <header class="header flex">
      <a href="/">Home</a>
      <nav>
        <a href="/products">Products</a>
        <% if(!user.isAdmin) { %>
        <a href="/users/<%= user.id %>/cart">View Cart</a>
        <%} %>
        <a href="/users/logout">Logout</a>
      </nav>
    </header>
    <h1>Products</h1>
    <div class="btns"></div>
    <div class="articles">
      <% if(user.cart.length === 0) { %>
      <p>
        No items present in cart. Shop for products <a href="/products">here</a>
      </p>
      <% } else { %> <% user.cart.forEach( product => { %>
      <div class="cart-item flex">
        <img src="<%= product.image %>" alt="<%= product.name %>" />
        <p><%= product.name %></p>
        <p>₹<%= product.price %></p>
      </div>
      <hr />
      <% }) %> <% } %>
      <div class="price">
        <p>Total: <span class="total-amount">₹ <%= totalPrice %></span></p>
      </div>
    </div>
  </body>
</html>
